<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <title>Coffee Corner</title>
</head>
<body>
    <header id="header">
      <nav id="'nav">
        <ul id="ul">
          <li id="li"><a id ='link' href="{{url_for('index')}}">Coffee Menu</a></li>
          <li id="li"><a id ='link' href="{{url_for('admin')}}">Admin Menu</a></li>
          <li id="li"><a id ='link' href="{{ url_for('create') }}">Add Product</a></li>
        </ul>
      </nav>
    </header>
</body>
</html>